<!-- <ng-container *ngIf="userIsAuthenticated"> </ng-container> -->
<div class="" *ngIf="isLoggedIn">
  <nav *ngIf="isSeller; else userNavbar" class="sidenav">
    <!-- Seller Sidebar -->
    <!-- Include your sidebar HTML here -->

    <!-- SIDE-BARS -->
    <div class="sidenav">
      <div class="logo-container">
        <button class="logo">A</button>
        <div class="logo-text">Angular</div>
      </div>
      <ul class="sidenav-nav">
        <!-- Dashboard Link -->
        <li class="sidenav-nav-item">
          <a class="side-nav-link" [routerLink]="['/dashboard']">
            <i class="sidenav-link-icon fa fa-home"></i>
            <span class="sidenav-link-text">Dashboard</span>
          </a>
        </li>
        <!-- Product Link with Submenu -->
        <li class="sidenav-nav-item">
          <a class="side-nav-link" (click)="toggleMenu('product')">
            <i class="sidenav-link-icon fa fa-shopping-bag"></i>
            <span class="sidenav-link-text">Product</span>
          </a>
          <div class="sub-menu" *ngIf="isProductMenuOpen">
            <a class="side-nav-link" routerLink="/add-product">
              <i class="sidenav-link-icon fa fa-plus-square-o"></i>
              <span>Add Product</span>
            </a>
            <a class="side-nav-link" [routerLink]="['/product-list']">
              <i class="sidenav-link-icon fa fa-list"></i>
              <span>Product List</span>
            </a>
          </div>
        </li>
        <!-- Category Link with Submenu -->
        <li class="sidenav-nav-item">
          <a class="side-nav-link" (click)="toggleMenu('category')">
            <i class="sidenav-link-icon fa fa-object-group"></i>
            <span class="sidenav-link-text">Category</span>
          </a>
          <div class="sub-menu" *ngIf="isCategoryMenuOpen">
            <a class="side-nav-link" [routerLink]="['/category-list']">
              <i class="sidenav-link-icon fa fa-list"></i>
              <span>Category List</span>
            </a>
          </div>
        </li>
        <!-- Logout Link -->
        <li class="sidenav-nav-item">
          <a class="side-nav-link" (click)="onLogOut()">
            <i class="sidenav-link-icon fa fa-power-off"></i>
            <span class="sidenav-link-text">Logout</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- SIDE-BARS -->
  </nav>

  <ng-template #userNavbar>
    <!-- User Top Navbar -->
    <!-- Include your top navbar HTML here -->

    <!-- Navbar for Non-Sellers -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bgUserColor">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-md-flex"
          id="navbarTogglerDemo01"
        >
          <a class="navbar-brand position-relative text-white">Dashboard</a>
          <ul class="d-md-flex navbar-nav m-auto mb-2 mb-lg-0">
            <div class="d-md-flex">
              <li class="nav-item">
                <a class="nav-link pointer text-white">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pointer text-white">About</a>
              </li>
            </div>

            <div class="row">
              <div class="d-md-flex">
                <div class="dropdown position-absolute menuButton mt-2">
                  <a routerLink="/shopping-cart" class="position-relative">
                    <i
                      class="fa fa-shopping-cart text-white"
                      aria-hidden="true"
                    ></i>
                    <span
                      class="position-absolute top-0 translate-middle badge rounded-pill bg-success"
                    >
                      {{ cartItemCount }}
                      <span class="visually-hidden">items in cart</span>
                    </span>
                  </a>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a
                    class="dropdown-toggle text-white"
                    type=""
                    id="dropdownMenuButton1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Action
                  </a>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                  >
                    <li><a class="dropdown-item" href="#">Your Order</a></li>
                    <li><a class="dropdown-item" href="#">Track Order</a></li>
                    <li>
                      <a class="dropdown-item" (click)="onLogOut()">Logout</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  </ng-template>
</div>
