<div class="container-fluid">
  <div class="row">
    <div class="d-md-flex justify-content-between">
      <div class="col-md-8">
        <table class="table table-responsive table-bordered">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total Price</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td>
                <img
                  [src]="item.product.images?.[0]"
                  alt="{{ item.product.productName }}"
                  width="100px"
                />
              </td>
              <td>{{ item.product.productName }}</td>
              <td>
                <input
                  type="number"
                  [(ngModel)]="item.quantity"
                  (input)="updateCartItem(item)"
                  min="1"
                />
              </td>
              <td>{{ item.product.price }}</td>
              <td>
                {{
                  item.quantity && item.product.price
                    ? item.quantity * item.product.price
                    : 0
                }}
              </td>
              <td>
                <i
                  class="fa fa-trash text-danger"
                  aria-hidden="true"
                  (click)="onRemoveCartItem(item._id)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 p-3 bgCartSubTotalColor">
        <h1 class="text-danger fw-bold">Bill:</h1>
        <h3>Details:</h3>
        <div class="">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">T.Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <th>{{ item.product.productName }}</th>
                <td>{{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                  {{
                    item.quantity && item.product.price
                      ? item.quantity * item.product.price
                      : 0
                  }}
                </td>
              </tr>

              <tr>
                <td class="fw-bold text-success" colspan="3">Sub Total:</td>
                <td class="">
                  <strong class="text-danger">{{ calculateSubTotal() }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="couponInput">
            <input type="text" value="" placeholder="Apply Coupon" />
          </div>
          <br /><br />
          <div class="">
            <button type="button">Proceed to Checkout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
