.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.floatDropDown {
  float: right;
}
.bgFormColor {
  background-image: linear-gradient(to right, #d2b4ff, #ddd3f1);
}
input {
  border: none;
  border-radius: 0;
}
input:focus {
  outline: 0;
  box-shadow: none;
}
.eye i {
  position: absolute;
  margin-top: -23px;
  right: 38%;
}
.textColor {
  color: #000;
}
.alreadyAcc {
  cursor: pointer;
  text-decoration: none;
}
.btnSubmit {
  border: none;
  background-color: #b787ff;
  color: #fff;
  border-radius: 0;
}
/* .country-selector {
  opacity: 1 !important;
  bottom: 8px !important;
} */
