<div class="container">
  <div class="row">
    <div class="col-md-3 my-3" *ngFor="let product of products">
      <div class="card shadow" style="width: 18rem">
        <img
          [src]="product.imagePath"
          class="card-img-top"
          alt="{{ product.productName }}"
        />
        <div class="card-body">
          <h2 class="card-title text-success">{{ product.productName }}</h2>
          <p class="card-text">
            <strong class="text-success">Category: </strong>
            {{ product.category }}
          </p>
          <!-- <p class="card-text description">{{ product.description }}</p> -->
          <p class="text-success">
            <strong class="text-danger">Price: </strong>{{ product.price }}
          </p>
          <button
            type="button"
            class="btn btn-outline-primary"
            [routerLink]="['/product-details', product._id]"
          >
            View Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
