.floatItem {
  float: right;
}
.pointer {
  cursor: pointer;
}
.logoutButton {
  right: 5px;
}
.card,
button {
  border-radius: 0;
}
.description {
  word-wrap: break-word;
  white-space: pre-wrap;
}
