.bgFormColor {
  background-image: linear-gradient(to right, #c8b6a6, #f1dec9);
}
.textColor {
  color: #000;
}
input {
  border: none;
  border-radius: 0;
}
input:focus {
  outline: 0;
  box-shadow: none;
}
.eye i {
  position: absolute;
  margin-top: -23px;
  right: 32%;
}
.btnSubmit {
  background-color: #8d7b68;
  color: #fff;
  border: none;
  border-radius: 0;
  float: right;
}
